<div class="col-md-6">
    <h2 class="text-center">Add Employee</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="empName">Employee Name:</label>
        <input formControlName="empName" placeholder="Name" name="empName" class="form-control" id="empName">
        <div class="feedback-red" *ngIf="isInvalid('empName')">
            Employee Name is empty.
        </div>
      </div>
       
      <div class="form-group">
        <label for="empId">Employee Id:</label>
        <input  type="number" formControlName="empId" placeholder="Id" name="empId" class="form-control" id="empId">
        <div class="feedback-red" *ngIf="isInvalid('empId')">
            Employee Id is empty.
        </div>
      </div>
  
      <div class="form-group">
        <label for="emailAddress">Email:</label>
        <input type="email" formControlName="emailAddress" placeholder="Email" name="emailAddress" class="form-control" id="emailAddress">
        <div class="feedback-red" *ngIf="isEmailInvalid('emailAddress')">
          Email is not valid.
        </div>
      </div>
      <div class="form-group">
        <label for="empSalary">Salary:</label>
        <input formControlName="empSalary" placeholder="Salary" name="empSalary" class="form-control" id="empSalary">
        <div class="feedback-red" *ngIf="isInvalid('empSalary')">
         Salary is not valid.
        </div>
      </div>

      <button button [disabled]="addForm.invalid" class="btn btn-success">Submit</button>
      <button class="btn btn-danger ml-2 " (click)="onCancel()">Cancel</button>
    </form>
  </div>