<div class="usercontact-list">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Email</th>
          <th>Salary</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeelist">
          <td>{{ emp.empId }}</td>
          <td>{{ emp.empName }}</td>
          <td>{{ emp.emailAddress }}</td>
          <td>{{ emp.empSalary }}</td>
          <td>
            <button class=" btn btn-primary " (click)="editEmpList(emp.empId) ">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger ml-2 " (click)="deleteEmpList(emp.empId) ">Delete</button>
          </td>
        </tr>
  
  
      </tbody>
    </table>
  </div>
